.list {
    --list-item-min: 8vw;
    --list-item-font-size: 3vw;
    display: none;
}

.item {
    font-size: var(--list-item-font-size);
}

@media (min-width: 1366px) {
    .list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--list-item-min), 1fr));
        height: 100%;
    }
}

/* @media (min-width: 1920px) {
    .list {
        grid-template-columns: repeat(auto-fill, minmax(calc(var(--list-item-min) * 1.35), 1fr));
    }
} */
