.slide {
    height: 100%;
}

.upper {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 5rem;
}

.word {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3rem;
}

.image img {
    max-width: 100%;
}
