.slide {
    height: 100vh;
    display: grid;
    grid-template-rows: 40% 10% 50%;
}

.upper {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30vh;
    line-height: 1;
    display: grid;
    justify-items: center;
    align-items: center;
}

.upperBtn {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.word {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 6vh;
    line-height: 1;
    text-align: center;
}

.active {
    color: var(--warm-color);
}

.image {
    display: flex;
    justify-content: center;
    align-items: start;
}

.image img {
    max-height: 100%;
    max-width: 100%;
}

@media (orientation: landscape) {
    .slide {
        /* TODO */
    }

    .upper {
        /* TODO */
    }

    .word {
        /* TODO */
    }

    .image {
        /* TODO */
    }
}

@media (min-width: 1366px) {
    .image {
        padding: 0 1rem 0 1rem;
    }
}

@media (min-width: 1920px) {
}
