.home {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

.menu {
    display: grid;
    justify-items: center;
}

.start {
    background-color: var(--warm-color);
    margin-bottom: 5vw;
}

.start:hover {
    box-shadow: 0 0 5vw var(--warm-color);
}

.training {
    background-color: var(--second-color);
}

.training:hover {
    box-shadow: 0 0 5vw var(--second-color);
}

.btn {
    font-family: var(--main-font);
    font-size: 6vw;
    color: var(--main-color);
    border: none;
    padding: 5vw 10vw;
    border-radius: 20vw;
    cursor: pointer;
    transition: box-shadow 0.3s;
    width: 60vw;
}
