.home {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

.menu {
    display: grid;
    justify-items: center;
}

.alphabet {
    background-color: var(--warm-color);
}

.alphabet:hover {
    box-shadow: 0 0 5vw var(--warm-color);
}

.findLetter {
    background-color: var(--select-color);
}

.findLetter:hover {
    box-shadow: 0 0 5vw var(--select-color);
}

.firstLetter {
    background-color: var(--second-color);
}

.firstLetter:hover {
    box-shadow: 0 0 5vw var(--second-color);
}

.btn {
    font-family: var(--main-font);
    font-size: 5vw;
    color: var(--main-color);
    border: none;
    padding: 4vw 5vw;
    border-radius: 20vw;
    cursor: pointer;
    transition: box-shadow 0.3s;
    width: 55vw;
}

.btn:not(:last-child) {
    margin-bottom: 3vw;
}
