.item {
    font-size: var(--list-item-font-size);
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    cursor: pointer;
}

.item:hover {
    background-color: var(--select-color);
}

.active {
    background-color: var(--select-color);
}
