:root {
    --main-color: #264653;
    --second-color: #2a9d8f;
    --background-color: #fff1d0;
    --select-color: #f0c808;
    --warm-color: #e76f51;
    --main-font: 'Nunito Sans', sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--main-color);
}

* {
    box-sizing: border-box;
}
